.container {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.title {
  display: flex;
  justify-content: left;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.table {
  width: 100%;
  margin: auto;
}

.include {
  padding-top: 1rem;
}

.includeButton {
  background-color: teal;
  color: white;
  padding: 1.5rem;
  width: 150px;
}
