.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: teal;
  color: #f2f2f2;
}

.optionsMenu {
  margin-top: 2rem;
  width: 100%;
  height: 2rem;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.optionsMenu:hover {
  background-color: teal;
  color: white;
  cursor: pointer;
}
